body {
  padding-top: 106px;
  background: #f8f9fa;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  max-width: 1320px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.card {
  padding: 15px 30px;
  margin-top: 12px;
  margin-bottom: 12px;

  mat-card-content,
  mat-card-header,
  mat-card-actions {
    padding: 0;
  }
}

mat-form-field {
  width: 100%;
}

.form-field-hint {
  font-size: 12px;
  color: #6c757d;
  margin-top: -14px;
  display: block;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background: none;
}

.row {
  display: flex;
  gap: 15px;
  flex-grow: 1;
  margin-right: -15px;
  margin-left: -15px;
  & > [class^="col"] {
    width: 100%;
  }
}

.table {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #212529;
  th,
  td {
    padding: 0.75rem;
    border-bottom: 1px solid #dee2e6;
    vertical-align: top;
    text-align: left;
  }
}

.mutate-icon {
  cursor: pointer;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

button.mdc-button {
  padding-left: 30px;
  padding-right: 30px;
}

.spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 56%;
  left: 10px;
  width: 14px;
  height: 14px;
  margin-top: -10px;
  /* margin-left: -10px; */
  border-radius: 50%;
  border: 3px dotted #707070;
  border-top-color: #888f93;
  /* border-right-color: #000000; */
  animation: spinner 0.8s linear infinite;
}

@media (min-width: 768px) {
}

@media (max-width: 767px) {
  .card {
    padding: 12px 15px;
  }
  .row {
    display: block;
  }
}
