<div class="container">
  <div>
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>Register</mat-card-title>
      </mat-card-header>
      <form novalidate (ngSubmit)="save()" [formGroup]="userRegisterForm">
        <mat-card-content>
          <div class="mb-3">
            <div>
              <mat-form-field>
                <mat-label>First Name</mat-label>
                <input
                  matInput
                  #input
                  type="text"
                  formControlName="firstname"
                  [ngClass]="{
                    'is-invalid':
                      (userRegisterForm.get('firstname')?.touched ||
                        userRegisterForm.get('firstname')?.dirty) &&
                      !userRegisterForm.get('firstname')?.valid
                  }"
                />
              </mat-form-field>
            </div>
            <div>
              <mat-form-field>
                <mat-label>Last Name</mat-label>
                <input
                  matInput
                  #input
                  type="text"
                  formControlName="lastname"
                  [ngClass]="{
                    'is-invalid':
                      (userRegisterForm.get('lastname')?.touched ||
                        userRegisterForm.get('lastname')?.dirty) &&
                      !userRegisterForm.get('lastname')?.valid
                  }"
                />
              </mat-form-field>
            </div>
            <div>
              <mat-form-field>
                <mat-label>Username</mat-label>
                <input
                  matInput
                  #input
                  type="text"
                  formControlName="username"
                  [ngClass]="{
                    'is-invalid':
                      (userRegisterForm.get('username')?.touched ||
                        userRegisterForm.get('username')?.dirty) &&
                      !userRegisterForm.get('username')?.valid
                  }"
                />
              </mat-form-field>
            </div>
            <div>
              <mat-form-field>
                <mat-label>Password</mat-label>
                <input
                  matInput
                  #input
                  type="password"
                  id="loginPassword"
                  formControlName="password"
                  [ngClass]="{
                    'is-invalid':
                      (userRegisterForm.get('password')?.touched ||
                        userRegisterForm.get('password')?.dirty) &&
                      !userRegisterForm.get('password')?.valid
                  }"
                />
                <mat-hint
                  >Must contain at least one uppercase letter, one lowercase
                  letter, one number, and between 8 to 24 characters.</mat-hint
                >
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="!userRegisterForm.valid"
          >
            Register
          </button>
        </mat-card-actions>
      </form>
    </mat-card>
  </div>
</div>
