#globalLoaderContainer {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100vw;
  background: #edededf5;
  & mat-spinner {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 80px;
    width: 80px;
  }
}

#globalErrorDialogue {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100vw;
  background: #edededf5;

  & h2 {
    color: red;
  }

  & .error-dialogue-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    max-height: 320px;
    max-width: 420px;
    background: white;
    padding: 20px;
    border-radius: 4px;

    & .error-dialogue-content-body {
      height: 228px;
      overflow-y: scroll;
    }
  }

  & .error-dialogue-footer {
    padding-top: 15px;
  }
}
