<div *ngIf="error$ | async as error">
  <div id="globalErrorDialogue" *ngIf="error?.errorMessage">
    <div class="error-dialogue-wrapper mat-elevation-z8">
      <h2>Error</h2>
      <div class="error-dialogue-content-body">
        <p>{{ error.errorMessage }}</p>
      </div>
      <div class="error-dialogue-footer">
        <button mat-raised-button color="primary" (click)="setErrorClosed()">
          Close
        </button>
      </div>
    </div>
  </div>
  <navbar></navbar>
  <router-outlet></router-outlet>
</div>
