<div class="container">
  <h1>Welcome to Lightning PLM!</h1>
  <p class="lead">
    Lightning PLM is a lightweight Product Lifecycle Management (PLM)
    application that allows you to manage your products and their associated
    data.
  </p>
  <div class="px-2 py-3 w-100">
    <div class="w-50 mx-auto my-5">
      <a class="btn btn-success d-block m-2" [routerLink]="['/auth/register']"
        >Register</a
      >

      <a class="btn btn-primary d-block m-2" [routerLink]="['/auth/login']"
        >Login</a
      >
    </div>
  </div>
</div>
