<div class="container">
  <h1>
    Add Product
    <span *ngIf="productNameDisplay$ | async as productNameDisplay"
      >: {{ productNameDisplay }}</span
    >
  </h1>
  <mat-card class="card">
    <form novalidate (ngSubmit)="save()" [formGroup]="productAddForm">
      <div>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input
            matInput
            #input
            type="text"
            id="name"
            formControlName="name"
            [ngClass]="{
              'is-invalid':
                (productAddForm.get('name')?.touched ||
                  productAddForm.get('name')?.dirty) &&
                !productAddForm.get('name')?.valid
            }"
          />
        </mat-form-field>
      </div>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!productAddForm.valid"
      >
        Create
      </button>
    </form>
  </mat-card>
</div>
