<div class="container">
  <div class="add-product-header">
    <h1>Products List</h1>
    <button mat-raised-button color="primary" [routerLink]="['/products/add']">
      <mat-icon>add</mat-icon> Add
    </button>
  </div>

  <table id="productListTable" class="table mat-elevation-z8">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products$ | async">
        <th scope="row">{{ product.id }}</th>
        <td>{{ product.name }}</td>
        <td>
          <mat-icon
            [routerLink]="['/products', product.id]"
            color="primary"
            class="mutate-icon"
            >edit</mat-icon
          >
        </td>
        <td>
          <mat-icon (click)="delete(product)" color="warn" class="mutate-icon"
            >delete</mat-icon
          >
        </td>
      </tr>
    </tbody>
  </table>
</div>
