#productListTable {
  td:nth-last-child(-n + 2) {
    text-align: center;
    width: 90px;
    margin-right: 20px;
    padding-right: 20px;
  }
}

.add-product-header {
  display: flex;
  justify-content: space-between;
}
