<mat-toolbar id="primaryNav" color="primary">
  <div id="toolbar-inner" class="container">
    <span id="brandLink" role="button" [routerLink]="['/home']"
      >(Beta) Lightning PLM</span
    >

    <ul class="navbar-nav d-none d-md-block">
      <li
        class="nav-item d-inline-block px-2"
        *ngFor="let navLink of navLinks$ | async"
      >
        <a
          *ngIf="navLink['label'] !== 'Logout'"
          role="button"
          class="nav-link"
          aria-current="page"
          [routerLink]="navLink['path']"
          routerLinkActive="active"
          >{{ navLink["label"] }}</a
        >
        <a
          *ngIf="navLink['label'] === 'Logout'"
          role="button"
          class="nav-link"
          aria-current="page"
          routerLinkActive="active"
          (click)="logout()"
          >{{ navLink["label"] }}</a
        >
      </li>
    </ul>

    <button
      mat-icon-button
      class="mobile-nav-toggle"
      aria-label="Mobile nav toggle"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar"
      aria-label="Toggle navigation"
    >
      <mat-icon>menu</mat-icon>
    </button>
  </div>
</mat-toolbar>
<div
  data-bs-toggle="offcanvas"
  class="offcanvas offcanvas-end"
  tabindex="-1"
  id="offcanvasNavbar"
  aria-labelledby="offcanvasNavbarLabel"
>
  <div class="offcanvas-header">
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
      <li class="nav-item" *ngFor="let navLink of navLinks$ | async">
        <a
          *ngIf="navLink['label'] !== 'Logout'"
          role="button"
          class="nav-link"
          aria-current="page"
          [routerLink]="navLink['path']"
          routerLinkActive="active"
          >{{ navLink["label"] }}</a
        >
        <a
          *ngIf="navLink['label'] === 'Logout'"
          role="button"
          class="nav-link"
          aria-current="page"
          routerLinkActive="active"
          (click)="logout()"
          >{{ navLink["label"] }}</a
        >
      </li>
    </ul>
  </div>
</div>
