<mat-toolbar id="primaryNav" color="primary">
  <div id="toolbar-inner" class="container">
    <span id="brandLink" role="button" [routerLink]="['/home']"
      >(Beta) Lightning PLM</span
    >

    <ul class="nav-links-desktop">
      <li
        *ngFor="let navLink of navLinks$ | async"
        style="display: inline-block"
      >
        <a
          *ngIf="navLink['label'] !== 'Logout'"
          [routerLink]="navLink['path']"
          routerLinkActive="active"
          >{{ navLink["label"] }}</a
        >
        <a
          *ngIf="navLink['label'] === 'Logout'"
          role="button"
          routerLinkActive="active"
          (click)="logout()"
          >{{ navLink["label"] }}</a
        >
      </li>
    </ul>

    <button
      mat-icon-button
      class="mobile-nav-toggle"
      (click)="mobileNavOpen = !mobileNavOpen"
    >
      <mat-icon>menu</mat-icon>
    </button>
  </div>
</mat-toolbar>

<div
  id="mobile-nav"
  [class.open]="mobileNavOpen"
  (click)="mobileNavOpen = !mobileNavOpen"
>
  <button mat-icon-button type="button" class="mobile-close-btn">
    <mat-icon>close</mat-icon>
  </button>

  <div class="mobile-nav-body">
    <ul>
      <li *ngFor="let navLink of navLinks$ | async">
        <a
          *ngIf="navLink['label'] !== 'Logout'"
          [routerLink]="navLink['path']"
          routerLinkActive="active"
          >{{ navLink["label"] }}</a
        >
        <a *ngIf="navLink['label'] === 'Logout'" (click)="logout()">{{
          navLink["label"]
        }}</a>
      </li>
    </ul>
  </div>
</div>
