<div class="container">
  <h1>Update Product : {{ productEditForm.get("id")?.value }}</h1>
  <form
    novalidate
    (ngSubmit)="save()"
    [formGroup]="productEditForm"
    *ngIf="productEditForm"
  >
    <input type="hidden" id="id" formControlName="id" />

    <div class="mb-3 form-group">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input
          matInput
          #input
          type="text"
          id="name"
          formControlName="name"
          [ngClass]="{
            'is-invalid':
              (productEditForm.get('name')?.touched ||
                productEditForm.get('name')?.dirty) &&
              !productEditForm.get('name')?.valid
          }"
        />
      </mat-form-field>
    </div>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="!productEditForm.valid"
    >
      Update
    </button>
  </form>
</div>
