<div class="container">
  <div class="card px-5 py-3">
    <h1>Login</h1>
    <form novalidate (ngSubmit)="save()" [formGroup]="userLoginForm">
      <div class="mb-3">
        <div class="form-group">
          <label for="username" class="form-label">Username</label>
          <input
            type="text"
            class="form-control"
            id="username"
            formControlName="username"
            [ngClass]="{
              'is-invalid':
                (userLoginForm.get('username')?.touched ||
                  userLoginForm.get('username')?.dirty) &&
                !userLoginForm.get('username')?.valid
            }"
          />
        </div>
        <div class="form-group">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            formControlName="password"
            aria-describedby="passwordHelpBlock"
            [ngClass]="{
              'is-invalid':
                (userLoginForm.get('password')?.touched ||
                  userLoginForm.get('password')?.dirty) &&
                !userLoginForm.get('password')?.valid
            }"
          />
        </div>
        <div id="passwordHelpBlock" class="form-text">
          Must contain at least one uppercase letter, one lowercase letter, one
          number, and between 8 to 24 characters.
        </div>
      </div>
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="!userLoginForm.valid"
      >
        Login
      </button>
    </form>

    <div
      *ngIf="errorMessage$ | async as errorMessag"
      class="toast"
      role="alert"
      aria-live="assertive"
      aria-atomic="true"
    >
      <div class="toast-header">
        <strong class="me-auto">Error</strong>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="toast"
          aria-label="Close"
        ></button>
      </div>
      <div class="toast-body">
        {{ errorMessag }}
      </div>
    </div>
  </div>
</div>
